@import '../../node_modules/bootstrap/scss/variables';

.wntrJumbotronBlock {
    background-size: 50% auto, 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-bottom: 60px;
    &__inner {
        padding: 50px;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            padding: 100px;
        }
        background-color: var(--wntr-primary-color-alpha);
    }
    > * {
        width: 100%;
    }
    h2 {
        color: var(--wntr-white-color);
        font-size: 40px;
        @media (min-width: map-get($grid-breakpoints, "xl")) {
            font-size: 50px;
        }
        @media (min-width: map-get($grid-breakpoints, "xxl")) {
            font-size: 60px;
        }
        letter-spacing: 2px;
        text-transform: uppercase;
        font-variation-settings: var(--wntr-font-rotunda-medium);
        text-shadow: 1px 1px 5px #333333;
        @media (max-width: map-get($grid-breakpoints, "sm")) {
            font-size: 30px;
        }
    }

    p {
        color: var(--wntr-white-color);
        a {
            color: var(--wntr-white-color);
            text-underline-offset: 5px;
        }
    }
}

.page-1155, .page-1194 {
    @media (min-width: map-get($grid-breakpoints, "md")) {
        overflow: hidden !important;
    }
    .wntrJumbotronBlock {
        margin-bottom: 0px;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            height: 100%;
        } 
    }
}