.wntrTextBlock {
    margin-top: calc(var(--bs-gutter-x) * 2);
    padding: var(--bs-gutter-x);
    @media (max-width: map-get($grid-breakpoints, "sm")) {
        padding: var(--bs-gutter-x);
    }
    h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-variation-settings: var(--wntr-font-rotunda-medium);
        margin-bottom: calc(var(--bs-gutter-x) * 2);
    }
    strong {
        font-variation-settings: var(--wntr-font-rotunda-medium);
    }
}