footer {
    margin-top: -13px !important;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    ul {
        list-style: none;
        display: flex;
        padding-left: 0;
        a {
            text-decoration: none;
        }
        &.left {
            justify-content: left;
        }
        &.right {
            justify-content: right;
        }
        li {
            display: inline;
            padding-left: calc(var(--bs-gutter-x) * 0.5);
            &:not(:last-child){
                padding-right: calc(var(--bs-gutter-x) * 0.5);
                border-right: 1px solid var(--wntr-primary-color);
            }
            &:last-child {
                font-variation-settings: var(--wntr-font-rotunda-medium);
            }
        }
    }
    @media (max-width: map-get($grid-breakpoints, "xl")) {
        display: none;
    }
}