@import 'https://use.typekit.net/phj8frw.css';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
    
    // colors
    --wntr-primary-color: rgb(5, 52, 38);
    --wntr-secondary-color: rgba(113, 101, 88, 0.2);
    --wntr-white-color: rgb(255, 255, 255);
    --wntr-offwhite-color: rgb(228, 228, 228);
    --wntr-black-color: rgb(51, 51, 51);
    
    // fonts
    --wntr-font-family: "rotunda-variable", sans-serif;
    --wntr-font-rotunda-hairline: "wght" 75;
    --wntr-font-rotunda-thin: "wght" 100;
    --wntr-font-rotunda-light: "wght" 300;
    --wntr-font-rotunda-regular: "wght" 400;
    --wntr-font-rotunda-medium: "wght" 500;
    --wntr-font-rotunda-bold: "wght" 700;
    --wntr-font-rotunda-extrabold: "wght" 800;
    --wntr-font-rotunda-black: "wght" 900;

    // bootstrap overrides
    --bs-nav-link-color: var(--wntr-primary-color);
}

html {
    body {
        overflow: hidden;
        padding: 30px;
        height: 100vh;
        color: var(--wntr-primary-color);
        font-family: var(--wntr-font-family);
        font-variation-settings: var(--wntr-font-rotunda-light);
        a {
            color: var(--wntr-primary-color);
        }
    }
}

#__next {
    height: 100vh;
}

.fc {
    &-primary {
        color: var(--wntr-primary-color);
        &:hover, &:focus {
            color:var(--wntr-primary-color);
        }
    }
}

.ls {
    &-1 {
        letter-spacing: 1px;
    }
    &-2 {
        letter-spacing: 2px;
    }
}

@import './sidebar.scss';
@import './main.scss';

@import '../blocks/jumbotron/jumbotron';
@import '../blocks/cards/cards';
@import '../blocks/image/image';
@import '../blocks/text/text';
@import '../blocks/split/split';