@import 'https://use.typekit.net/phj8frw.css';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
    
    // colors
    --wntr-primary-color: rgb(5, 52, 38);
    --wntr-secondary-color: rgba(113, 101, 88, 20);
    --wntr-white-color: rgb(255, 255, 255);
    --wntr-black-color: rgb(51, 51, 51);
    
    // fonts
    --wntr-font-family: "rotunda-variable", sans-serif;
    --wntr-font-rotunda-hairline: "wght" 75;
    --wntr-font-rotunda-thin: "wght" 100;
    --wntr-font-rotunda-light: "wght" 300;
    --wntr-font-rotunda-regular: "wght" 400;
    --wntr-font-rotunda-medium: "wght" 500;
    --wntr-font-rotunda-bold: "wght" 700;
    --wntr-font-rotunda-extrabold: "wght" 800;
    --wntr-font-rotunda-black: "wght" 900;

    // bootstrap overrides
    --bs-nav-link-color: var(--wntr-primary-color);
}

html {
    body {
        padding: 30px;
        height: 100vh;
        color: var(--wntr-primary-color);
        font-family: var(--wntr-font-family);
        font-variation-settings: var(--wntr-font-variation-setting-400);
        a {
            color: var(--wntr-primary-color);
        }
    }
}

#__next {
    height: 100vh;font-variation-settings: "wght" 100;
}

.fw {
    &-bold {
        font-variation-settings: var(--wntr-font-rotunda-medium);
    }
    &-normal {
        font-variation-settings: var(--wntr-font-rotunda-light);
    }
    &-light {
        font-variation-settings: var(--wntr-font-rotunda-thin);
    }
}