main {
    position: relative;
    overflow-y: scroll;
    background-color: var(--wntr-secondary-color);
    width: 100%;
    height: calc(100vh - 60px);
    article:first-child {
        margin-top: 0 !important;
    }
    article.wntrJumbotronBlock:last-child {
        margin-bottom: 0 !important;
    }
}
