main {
    position: relative;
    overflow-y: scroll;
    background-color: var(--wntr-secondary-color);
    width: 100%;
    height: calc(100% - 70px);
    @media (min-width: map-get($grid-breakpoints, "xl")) {
        height: calc(100vh - 70px);
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    article:first-child {
        margin-top: 0 !important;
    }
    article.wntrJumbotronBlock:last-child {
        margin-bottom: 0 !important;
    }
}
