menu {
    background-repeat: no-repeat;
    background-position: center 5%;
    background-size: 50%;
    height: calc(100vh - 70px);
    nav {
        .home-logo {
            height: 40px;
        }
        .nav-link {
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                transition: .3s ease-in-out;
                top: 7px;
                right: 30px;
                border-right: 2px solid var(--wntr-primary-color);
            }
            &.active {
                font-variation-settings: var(--wntr-font-rotunda-medium);
                &::after {
                    height: calc(90% - 15px);
                }
            }
            &:hover::after {
                height: calc(90% - 15px);
            }
        }
    }
    
}